@font-face {
  font-family: 'Raleway';
  src: url('Raleway-Light.ttf');
}

div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: relative;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #32292f;
	margin-bottom: 10px;
	font-family: Raleway;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 20px;
	font-family: Raleway;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Raleway;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Raleway;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Raleway;
	color: #000000;
}

li {
	list-style-type: square;
	font-family: Raleway;
}

a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 1350px;
	background-color: #99e1d9;
	margin-bottom: 10px;
	font-family: Raleway;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 1350px;
	background-color: #f0f7f4;
	margin-bottom: 10px;
	font-family: Raleway;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #32292f;
	clear: both;
	font-family: Raleway;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
	font-family: Raleway;
}

.img{
	width: 150px;
	height: 160px;
	padding-top: 10px;
	padding-left: 10px;
}
